@import "tailwindcss";

@font-face {
  font-family: "Futura";
  src: url("./assets/Futura-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "text1";
  src: url("./assets/HelveticaNowText-Regular.woff2") format("truetype");
}


*::selection{
  color:white;
  background-color: black;
}

