@import "tailwindcss";

@font-face {
  font-family: "Futura";
  src: url("./assets/Futura-Bold.ttf") format("truetype");
}


*::selection{
  color:white;
  background-color: black;
}

html, body {
  overflow-x: hidden; /* Side Scroll हटाने के लिए */
}

[data-scroll-container] {
  overflow: hidden;
}